// Colors
$primary-text:rgba(115, 161, 251, 0.8);
$white:#F2F2F2;

// Body Background (linear-gradient)
$linear-gradient-dark-blue:#3B6DD9;
$linear-gradient-light-blue:#43F8E3;

// Logo Shadow
$web-shadow:#96EBE6;
$computer-shadow:#294B6E;
$db-shadow:#2488FF;

// Glass
$light-white-glass: rgba(255, 255, 255, 0.64);
$dark-white-glass: rgba(255, 255, 255, 0.2);

// H2 shadows
$web-text-shadow:rgba(255, 0, 0, 0.5);

// Progress bar
$progress-bar-bg:#c4c4c4;

// Skills percentage
$css-percentage:60%;
$html-percentage:70%;
$js-percentage:75%;
$react-percentage:35%;

$c-percentage:50%;
$java-percentage:80%;
$python-percentage:35%;

$sqlite-percentage:35%;
$mongo-percentage:35%;
